@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

html {
    --color-naranja: #F2994A;
    --color-negro: #000000;
    --color-blanco: #ffffff;
    --color-gris: #c4c4c4;

    --font-texto: Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body {
    font-family: var(--font-texto);
    background-color: var(--color-naranja);
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* Header */

body > header {
    background-image: url("img/Cabecera.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
}

body > header > h1 {
    color: var(--color-blanco);
    text-align: center;
    font-weight: 900;
    font-size: 3.5rem;
    height: 4.5rem;
    width: 15rem;
    margin: 2rem auto;
    order: 1;
    text-shadow: 1px 1px 5px var(--color-negro);
}

header > nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;

}

header > nav > ul{
    display: flex;
    flex-direction: row;
    width: 8rem;
}

header > nav > ul >li{
    text-decoration: none;
    flex-basis: 4rem;
} 

header > nav > ul >li > a{
    color: var(--color-negro);
    font-weight: 500;
} 

header > nav > a{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

/* Main */

#intro h2{
    color: var(--color-blanco);
    margin: 1rem 0.5rem;
    font-size: 2rem;
}

#intro p{
    font-weight: 500;
    margin: 0 0.5rem;
    font-size: 1rem;
}

/* Banner vacas */


main section ul{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main>section ul li{ 
    padding: 0 0.5rem;
    margin: 1rem 0;
}

main>section>ul>li>article{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    text-align: center;
    max-width: 320px;
    font-size: 1rem;
}

main>section>ul>li>article>header{
    display: flex;
    flex-direction: column;
}

main>section>ul>li>article>header>h1{
    padding: 0.5rem;
    font-size: 2rem;
}

main>section>ul>li>article>header>figure{
    order: -1;
}

main>section>ul>li>article>header>figure{
    width: 100%;
    height: 100%;
    /* object-fit: es una propiedad para cuadrar una imagen en un espacio */
}

main>section>ul>li>article>p{
    padding: 0.75rem 0.5rem 1.5rem 0.75rem;
    text-align: left;
}

main>section>ul>li>article>a{
    background-color: var(--color-gris);
    color: var(--color-negro);
    display: flex;
    justify-content: center;
    align-items:center;
    height: 3rem;
}

/* Formulario */

    main>section>form{
        background-color: var(--color-blanco);
    }

    main>section>form>h2{
        color: var(--color-naranja);
        text-align: left;
        font-size: 2.25rem;
        margin: 0.5rem;
        padding-top: 1rem;
    }

    fieldset{
        border-style: none;
        margin: 0.5rem 0.5rem;
    }

    main>section>form>section>fieldset>label{
        display:block;
        margin: 0.5rem 0;
    }

    input#name, input#address, select{
        background-color: var(--color-naranja);  
        color: var(--color-blanco);
        height: 1.5rem;
        width: 95vw;
        margin-top: 0.25rem;
        padding-left: 0.75rem;
        border: none;
    }

    textarea{
        background-color: var(--color-naranja);  
        color: var(--color-blanco);
        height: 5rem;
        width:100%;
        margin-top: 0.25rem;
        padding: 0.5rem;
        border: none;
    }

    form :nth-child(6){
        display: inline;
        margin-right: 0.25rem;
    }

    button{
        border: none;
        background-color: var(--color-gris);
        color: var(--color-negro);
        font-weight: 700;
        padding: 0.5rem;
        margin: 0.5rem;
        width: 95%;

    } 

/* Media queries */

@media (min-width: 700px) {

        /* Header */

    body > header{
        min-height: 50vh;
    }

    /* Main */

    main section ul{ 
        padding: 0 0.5rem;
        display: flex;
        flex-direction: row;
    }

    #intro p{
        columns: 2;
        font-weight: 500;
    }
    /* Formulario */

    main>section>form>section{
        display:flex;
        flex-direction: row;    
        flex-wrap: wrap;
    }

    main>section>form>section>fieldset{
        display:flex;
        flex-direction: column; 
    }

    input#name, input#address, select{
        height: 1.5rem;
        margin-top: 0.25rem;
        padding-left: 0.75rem;
        width: 40vw;
    } 

    main>section>form :nth-child(3){
        width: 60vw;
    }

    button{
        padding: 0.5rem;
        margin: 0.5rem;
        width: 25%;
    }

  }

  @media (min-width: 1200px) {

    /* Header */
    body> header{
        min-height: 70vh;
    }

    body> header> h1{
        font-size: 8rem;
        text-align: center;
    }

    body> header> nav{
        font-size: 1.25rem;
    }
    
    body> header> nav> ul> li{
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    body> header> nav> a{
        font-size: 1.25rem;
        padding: 0.75rem 1rem;
    }    

    /* Main */

    #intro h2{
        margin: 1rem 0.5rem;
        font-size: 96px;
    }
    
    #intro p{
        columns: 2;
        font-weight: 500;
        margin: 0 1rem;
        font-size: 24px;
    }
    
    /* Banner vacas */

    main section ul{ 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    main>section>ul>li{
        margin: 2rem 1.5rem;
    }

    main>section>ul>li>article>p{
        font-size: 24px;
        margin: 1rem;
    }
    
    main>section>ul>li>article>a{
        font-size: 24px;
    }

    /* Formulario */

    main>section>form>h2{
        font-size: 90px;
    }

    main>section>form>section{
        display:flex;
        flex-direction: row;    
        flex-wrap: wrap;
    }
    
    main>section>form>section>fieldset{
        display:flex;
        flex-direction: column; 
    }

    main>section>form>section>fieldset>label{
        font-size: 24px;
        display:flex;
        flex-direction: column; 
    }
    
    main>section>form>fieldset>label{
        font-size: 24px;
    }

    input#name, input#address, select{
        margin-top: 0.25rem;
        padding-left: 0.75rem;
        width: 679px;
        height: 66px;
    } 
 
    textarea{
        width: 60rem;
        height:20rem;
    }
        
    main>section>form>:nth-child(4)>label{
        margin-right: 0.5rem;
    }

    button{
        background-color: var(--color-negro);
        color: var(--color-blanco);
        padding: 1rem 1.25rem;
    }
    
}
